body {
  margin: 2%;
  background-color:rgba(128, 0, 128, 0.534);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  display: grid;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
  width: 95vw;
  height: 100vh;
  gap: 1%;
}
/*-----------------Header---------------------*/

#links {
  display: flex;
  align-items: flex-start;
  grid-area: header;
  border: 1px solid black;
  gap: 2%;
}

#links :hover {
  transform: scale(1) translateY(-3px);
}
.headline {
  display: flex;
  grid-area: header;
  justify-content: center;
  align-items: center;
  background-color: white;
}
/*-----------------Header---------------------*/

/*-----------------Sidebar---------------------*/
#sidebar2 {
  grid-area: sidebar;
  /* border: 1px solid black; */
  position:fixed;
  margin-top: 5%;
}
#menu {
  list-style: none;
  display: grid;
  flex-direction: column;
  font-size: 2vw;
  justify-items: center;
}

#menu a{
  text-decoration: none;
  color: white;
}
 
#menu a:hover{
  text-decoration: none;
  color: rgb(195, 0, 255);
}

#menu li{
  background-color: rgb(111, 0, 255);
  width: 15vw;
  margin-bottom: 2vh;
}

#menu li:hover{
background-color: rgba(255, 255, 255, 0.555);
}
#menhead{
  color: white;
  background-color: blue;
  border: 1px solid black;
  display: flex;
  align-items: center;
  text-align: center;
}
/*-----------------Sidebar---------------------*/

/*-----------------Main---------------------*/

#main3 {
  display: flex;
  grid-area: main;
  /* border: 1px solid black; */
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.headmain {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.headmain2 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

#yonatan {
  height: 25vh;
  width: 15vw;
  border-radius: 100%;
  border: 2px solid black;
  justify-self: flex-start;
  transition: transform 2s;
}

#yonatan:hover {
  transition-duration: 2s;
  transform: scale(1.1);
  box-shadow: 3px 3px 3px 3px black;
}

.program {
  color: white;
  direction: rtl;
  display: flex;
  width: 80vw;
  height: 10vh;
  font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
  font-size: 35px;
}

#aboutme {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  height: 5vh;
}

#army {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  height: 5vh;
}

#education {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  height: 5vh;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  direction: rtl;
}

#project {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  height: 5vh;
}
#pro {
  display: flex;
  justify-content: center;
}

.black {
  width: 80vw;
  border: 1px solid black;
  border-style: dashed;
}

.avodot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  direction: rtl;
}

#imggallery {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  height: 5vh;
}

#github2{
  width: 50vw;
  }

.imgshoe{
  width: 80vw;
  height: 50vh;
  background-image: url(/Shoes/Airforce1.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: shoe;
  animation-duration: 17s;
  animation-iteration-count: infinite;
}

@keyframes shoe {
  17% {background-image: url(/Shoes/Airmax90.jpg);}
  34% {background-image: url(/Shoes/Airmax97.jpg);}
  51% {background-image: url(/Shoes/Airmax98.jpg);}
  68% {background-image: url(/Shoes/Jordan1.jpg);}
  85% {background-image: url(/Shoes/Jordan4.jpg);}
  100% {background-image: url(/Shoes/Airmax90.jpg);}

}

/*-----------------Main---------------------*/

/*-----------------Footer---------------------*/
/*-----------------Contact us---------------------*/

#footer4 {
  grid-area: footer;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#phone {
  display: flex;
  background-color: white;
  color: black;
  padding: 1vw 1vh;
  text-decoration: none;
}

#email {
  display: flex;
  background-color: white;
  color: black;
  padding: 1vw 1vh;
  text-decoration: none;
}

.contact {
  display: grid;
  align-items: center;
}
/*-----------------Contact us---------------------*/
/*-----------------Footer---------------------*/


/*-----------------Profile Picture---------------------*/

/*-----------------Profile Picture---------------------*/

@media screen and (max-width: 600px){
#github2{
width: 90vw;
}
body{
  margin: 5%;
}
.headline{
  width: 94vw;
  font-size: 6vw;
}
#links{
  gap: 0%;
  width: 94vw;
}

.headmain {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36vw;
  text-align:center
}
.headmain2{
  text-align: center;
}
#about{
  text-align: center;
}
#yonatan{
  width: 55vw;
}
.program{
height: 15vh;
}
#footer4{
  width: 94vw;
}
#sidebar2{
  margin-top: 20%;
}
}